@import url(https://db.onlinewebfonts.com/c/41cdafd19e156a1f74759f9c88b878ff?family=Google+Sans+Text+Regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Text Regular', sans-serif;
}

body{
    position: relative;
    z-index: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #2a2a2a;
    color: white;
    font-family: 'Google Sans Text Regular', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

header{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

footer{
    text-align: center;
}

.mainH1{
    position: relative;
    padding: 10px;
}

.mainArticle{
    position: relative;
    z-index: 0;
    box-sizing: content-box;
    width: 55%;
    padding: 16px;
    text-align: justify;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 0, 0, 0, 0.18 );
    border-radius: 16px;
    line-height: 1.5;
}

.mainArticle::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    filter: blur(1px);
    border-radius: 16px;
    background-color: #000;
}


.mainFigure{
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 22px;
}

.figureImg{
    height: auto;
    width: 1000px;
    border-radius: 12px;
}

.articleList{
    padding-left: 18px;
}

.image{
    position: absolute;
    z-index: -1;
    height: 100dvh;
    width: 100dvw;
    /*background-image: url(../img/games/nomeArquivo.png);*/
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #2a2a2a, transparent);
}


.navA{
    all: unset;
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: 60px;
    visibility: visible;
    overflow: hidden;
    transition: 0.5s;
    color: gray;
}

.navA:hover {
    cursor: pointer;
    color: white;
    gap: 10px;
    transform: scale(1.1);
    opacity: 1.0;
}

/* SELEÇÃO DE IMAGENS PARA OS BACKGROUNDS DE FORMA MANUL PARA EVITAR CSS INLINE */

#minecraftImg{
    background-image: url(../img/games/minecraftBackground.png);
}

#codImg{
    background-image: url(../img/games/warzoneBackground.jpg);
}

#cyberpunkImg{
    background-image: url(../img/games/cyberpunkBackground.png);
}

#rd2Img{
    background-image: url(../img/games/rd2Background.png);
}

#gowImg{
    background-image: url(../img/games/gowBackground.png);
}

#avatarImg{
    background-image: url(../img/movies/avatarBackground.png);
}

#avengersImg{
    background-image: url(../img/movies/avengersBackground.jpg);
}

#bladerunnerImg{
    background-image: url(../img/movies/bladerunnerBackground.png);
}

#interestellarImg{
    background-image: url(../img/movies/interestellarBackground.jpg);
}

#lionkingImg{
    background-image: url(../img/movies/lionkingBackground.png);
}